<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            Fiche produit
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="https://via.placeholder.com/150">
        </div>
        <div class="col-md-5">
            <app-info-produit [nom]="nom" [description]="description"></app-info-produit>
        </div>
        <div class="col ">
            <app-prix-produit [prix]="prix"></app-prix-produit>
            <app-lien-details ></app-lien-details>
        </div>
    </div>
</div>
